@import './variables.scss';

.footer {
    background-color: $base-color;
    color: white;
    align-items: center;
    justify-content: center;
    height: 60px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer p {
    text-align: center;
}