div.container {
  display: flex;
  flex-direction: row;
}

input.command {
  border: none;
  overflow: auto;
  outline: none;
  background: transparent;

  color: white;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none; /*remove the resize handle on the bottom right*/
}
