---
import Layout from '../layouts/BlogPost.astro';
import aboutHeroImage from '../assets/about-me.jpeg';
---

<Layout
	title="About Me"
	description="My name is Daniel Cummings and I'm a passionate developer and blog writer."
	pubDate={new Date('October 05 2025')}
	heroImage={aboutHeroImage}
>
	<p>
	Hi, I'm Daniel Cummings—a passionate developer and blog writer. I love building things for the web, exploring new technologies, and sharing what I learn along the way. My journey in software development has taken me through a variety of languages, frameworks, and projects, from front-end interfaces to back-end systems.

	<br /><br />

	Through this blog, I aim to document my experiences, provide helpful tutorials, and reflect on the ever-evolving world of programming. Whether I'm writing about Astro, JavaScript, or broader topics in tech, my goal is to make complex ideas approachable and inspire others to keep learning.

	<br /><br />

	Thanks for stopping by! If you want to connect, feel free to reach out on social media or check out my projects on GitHub.
	</p>
</Layout>
